<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>  😱 HTML THEIF..! 😱  </title>

</head>
<body>
<div class="mx-auto" style="width: 80px; padding-top: 80px;"> <h1>👻</h1> </div>
<div style="padding-top: 80px;">
    <form action="/" method="POST">
        <div class="input-group mb-3 mx-auto" style="width: 630px;">
            <div class="input-group-prepend" style="padding-top: 6px;">
                <span class="input-group-text" id="basic-addon1" style="width: 130px;">URL</span>
                <input class="form-control" style="width: 500px;" class="form-control" type="text" name="URL" placeholder='give me URL'>
            </div>
            <div class="input-group-prepend" style="padding-top: 6px;">
                <span class="input-group-text" id="basic-addon1" style="width: 130px;">TYPE</span>
                <input class="form-control" style="width: 500px;" type="text" name="TYPE" placeholder='"TXT" or "HTML"'>
            </div>
            <div class="input-group-prepend " style="padding-top: 6px;">
                <span class="input-group-text" id="basic-addon1" style="width: 130px;">Length of Unit</span>
                <input class="form-control" style="width: 500px;" type="text" name="Length" placeholder='Length of Unit'>
            </div>
        </div>
        <div class="mx-auto" style="width: 80px; padding-top: 30px;">
        <div><input class="btn btn-dark" style="width: 80px;" type='submit' value='Print'></div>
        </div>
        <div style="padding-top: 80px;">
            <div class="input-group mx-auto" style="width: 750px; padding-top: 6px;">
                <div class="input-group-prepend" style="height: 200px; width: 750px;">
                    <span class="input-group-text">Division</span>
                    <textarea class="form-control" aria-label="With textarea">{{ division }}</textarea>
                </div>
            </div>

            <div class="input-group mx-auto" style="width: 750px; padding-top: 6px;">
                <div class="input-group-prepend" style="height: 200px ; width: 750px;">
                    <span class="input-group-text">Modulus</span>
                    <textarea class="form-control" aria-label="With textarea">{{ modulus }}</textarea>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>